
.slider {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide {
    display: none;
    justify-content: center;
    align-items: center;
}

.slide img {
    width: 200px;
height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.slide:first-child {
    display: block;
}